<div class="centered-content">
  <div class="home-page-container">
    <div class="main">
      <app-header></app-header>
      <hr />

      <div class="companies-page-wrapper">
        <div class="companies-panel-wrapper">
          <h1 class="title has-text-primary">
            {{ 'COMPANIES.TITLE' | translate }} 
          </h1>

          <div class="companies-container cool-text">
            <h3 class="empty-state-text" *ngIf="!companies">
              You have no companies! Click the add button to create a new
              company.
            </h3>
            <div class="task" *ngFor="let company of companies" [routerLink]="['/companies', company._id]">
              <div class="task-text">
                <p>{{ company.companyName }}</p>
              </div>
              <div class="task-buttons">
                <button class="button" style="margin-right: 10px;">
                  <div class="icon">
                    <i class="fas fa-edit"></i>
                  </div>
                </button>
                <button class="button is-danger" (click)="onDeleteCompany(company._id)">
                  <div class="icon">
                    <i class="fas fa-trash"></i>
                  </div>
                </button>
              </div>
            </div>
          </div>

          <nav *ngIf="pager.totalPages > 1" class="pagination" role="navigation" aria-label="pagination">
            <div style="margin-right: 10px;">
              <a
                class="pagination-previous"
                routerLink="/companies"
                [queryParams]="{ page: pager.currentPage - 1 }"
                >{{ 'COMPANIES.PREVIOUS' | translate}}</a
              >
              <a
                class="pagination-next"
                routerLink="/companies"
                [queryParams]="{ page: pager.currentPage + 1 }"
                >{{ 'COMPANIES.NEXT' | translate}}</a
              >
            </div>

            <ul class="pagination-list">
              <li>
                <a
                  class="pagination-link"
                  routerLink="/companies"
                  [queryParams]="{ page: 1 }"
                  *ngIf="pager.currentPage !== 1"
                  aria-label="Goto page 1"
                  >1</a
                >
              </li>
              <li>
                <span class="pagination-ellipsis" *ngIf="pager.currentPage > 3"
                  >&hellip;</span
                >
              </li>
              <li>
                <a
                  class="pagination-link"
                  routerLink="/companies"
                  [queryParams]="{ page: pager.currentPage - 1 }"
                  *ngIf="pager.currentPage > 2"
                  aria-label="Goto page 45"
                  >{{ pager.currentPage - 1 }}</a
                >
              </li>
              <li>
                <a
                  class="pagination-link is-current"
                  routerLink="/companies"
                  [queryParams]="{ page: pager.currentPage }"
                  aria-label="Page 46"
                  aria-current="page"
                  >{{ pager.currentPage }}</a
                >
              </li>
              <li>
                <a
                  class="pagination-link"
                  routerLink="/companies"
                  [queryParams]="{ page: pager.currentPage + 1 }"
                  *ngIf="pager.currentPage !== pager.totalPages"
                  aria-label="Goto page 47"
                  >{{ pager.currentPage + 1 }}</a
                >
              </li>
              <li>
                <span
                  class="pagination-ellipsis"
                  *ngIf="pager.currentPage < pager.totalPages - 2"
                  >&hellip;</span
                >
              </li>
              <li>
                <a
                  class="pagination-link"
                  routerLink="/companies"
                  [queryParams]="{ page: pager.totalPages }"
                  *ngIf="pager.currentPage < pager.totalPages - 1"
                  aria-label="Goto page 86"
                  >{{ pager.totalPages }}</a
                >
              </li>
            </ul>
          </nav>
        </div>

        <!-- <h3 class="empty-state-text" *ngIf="tasks.length === 0">
              There are no tasks here! Click the add button to create a new task.
            </h3> -->

        <div class="control-panel-wrapper">
          <div class="control-panel cool-text">
            <!-- <button class="button is-primary" (click)="onCreateCompany()">
              <i class="fas fa-plus" style="margin-right: 10px;"></i>
              New Company
            </button> -->
            <p style="text-align: center; padding-top: 30px;">
                {{ 'COMPANIES.DESCRIPTION' | translate }}
            </p>
          </div>
        </div>

        <button
          class="circle-add-button button is-primary"
          routerLink="./new-task"
          (click)="onCreateCompany()"
        >
          <i class="fas fa-plus"></i>
        </button>
      </div>
    </div>
  </div>
</div>
