<div class="centered-content">
    <div class="cnc-box">
      <h1 class="title">
        {{ 'CREATECOMPANY.TITLE' | translate }}
      </h1>
  
      <input
          class="input has-background-light is-medium"
          type="text"
          [placeholder]="namePlaceholder"
          #companyTitleInput
      />
      <br><br>
      <div class="buttons is-right">
          <button class="button is-medium" routerLink="/companies">{{ 'CREATECOMPANY.CANCEL' | translate }}</button>
          <button class="button is-primary is-medium has-text-white" (click)="createCompany(companyTitleInput.value)">{{ 'CREATECOMPANY.CREATE' | translate }}</button>
      </div>
  
    </div>
  </div>>
