.select-language {
  display: flex;
  .text-wrapper {
    padding-top: 8px;
  }
}

.white-box-language {
  padding: 35px;
  background: white;
  border-radius: 5px;

  width: 395px;
  max-width: 420;
}
