@import "../../../../main-style.scss";

.home-page-container {
    display: flex;
    width: 100%;
    height: 100%;
    max-width: 1000px;
    max-height: 680px;
    position: relative;
}

.main {
    display: flex;
    flex-direction: column;
    width: 1000px;
    height: 680px;
    background: white;
    border-radius: 5px;
}

.menu {
    display: flex;
    padding-top: 23px;
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;

    .menu-left {
        display: flex;
        flex-grow: 1;
        .menu-item {
            margin-right: 20px;
        }
    }

    .menu-right {
        display: flex;
    }

    .menu-item {
        display: flex;
        font-family: 'Lato';
        font-size: 18px;
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    .cool-link::after {
        content: "";
        display: block;
        width: 0;
        height: 2px;
        background: $pomade;
        transition: width .3s;
    }

    .cool-link:hover::after {
        width: 100%;
        transition: 0.3s;
    }

    .cool-link-active::after {
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        background: $pomade; 
    }
}

.control-panel-wrapper {
    display: flex;
    position: absolute;
    right: 35px;
}

.control-panel {
    border: 1px solid black;
    width: 400px;
    height: 200px;
    border: 2px solid rgb(245, 244, 244);
    border-radius: 5px;
}


.task {
    display: flex;
    align-items: center;
    background: white;
    padding: 20px 15px;
    border-radius: 5px;
    margin-top: 10px;


    &:not(.complete) {
        cursor: pointer;
        transition: box-shadow 0.2s ease, transform 0.2s ease;

        &:active {
            transform: scale(0.95);
        }

        &:hover {
            box-shadow: 0 0 0 5px #eeeeee;

            .task-buttons {
                opacity: 1;
                transform: scale(1);
            }
        }
    }

    .task-text {
        flex-grow: 1;
    }

    .task-buttons {
        transform: scale(0.85);
        opacity: 0;
        transition: opacity 0.2s ease, transform 0.2s;
    }
}

.companies-container {
    width: 400px;
    height: 363px;
    margin-bottom: 80px;
}

.companies-panel-wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}

.companies-page-wrapper {
    display: flex;
}

.circle-add-button {
    position: absolute;
    bottom: 35px;
    right: 35px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.admin-text {
    color: rgb(185, 72, 72);
}