@import '../../../../../../../main-style.scss';

.animal-page-container {
  display: flex;
  margin-left: 40px;
  border: 2px solid rgb(243, 242, 242);
  border-radius: 5px;
}

.info-container {
  display: flex;
  flex-direction: column;
  width: 380px;
  height: 300px;
  padding-top: 7px;
  padding-left: 20px;
}

.info-element {
  margin-bottom: 20px;
  flex-grow: 1;
}

.control-panel {
    margin-top: 20px;
    margin-right: 20px;
}

.edit-form {
    width: 210px;
}

.edit-inputs {
    width: 200px;
    margin-bottom: 10px;
}

.control-panel-button {
    display: flex;
    border-radius: 5px;
    box-shadow: 0 0 0 3px #eeeeee;
    padding: 15px 20px;
    margin-bottom: 20px;
  
    cursor: pointer;
    transition: box-shadow 0.2s ease, transform 0.2s ease;
  
    &:hover {
      transform: scale(1.05);
    }
  }