.select-language {
  display: flex;
  .text-wrapper {
    padding-top: 8px;
    flex-grow: 1;
  }
}

.white-box-language {
  padding: 35px;
  background: white;
  border-radius: 5px;

  width: 350px;
  max-width: 360px;
}
