<div class="centered-content">
  <div class="white-box">
    <h1 class="title has-text-primary">{{ 'LOGIN.TITLE' | translate }}</h1>

    <form #loginForm="ngForm" (ngSubmit)="onSubmit(emailInput.value, pwInput.value)" style="margin-bottom: 10px;">
      <div class="field">
        <p class="control has-icons-left has-icons-right">
          <input
            #emailInput
            ngModel
            name="email"
            email
            required
            [ngClass]="{
              'is-danger':
                !loginForm.controls.password?.valid &&
                !loginForm.controls.password?.untouched
            }"
            class="input has-background-light"
            type="email"
            [placeholder]="emailPlaceholder"
          />
          <span class="icon is-small is-left">
            <i class="fas fa-envelope"></i>
          </span>
        </p>
      </div>
      <div class="field">
        <p class="control has-icons-left">
          <input
            #pwInput
            ngModel
            name="password"
            [ngClass]="{
              'is-danger':
                !loginForm.controls.password?.valid &&
                !loginForm.controls.password?.untouched
            }"
            class="input has-background-light"
            type="password"
            [placeholder]="passwordPlaceholder"
          />
          <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
          </span>
        </p>
      </div>
      <div class="field" style="display: flex; justify-content: flex-end;">
        <p class="control">
          <button class="button is-primary has-text-white" type="submit">
            {{ 'LOGIN.LOGIN' | translate }}
          </button>
        </p>
      </div>
    </form>

    <p class="has-text-grey">
      {{ 'LOGIN.NHA' | translate }} <a routerLink="/signup">{{ 'LOGIN.SIGNUP' | translate }}</a> {{ 'LOGIN.NOW' | translate }}
    </p>
  </div>
</div>
